/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */


header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

a {
    text-decoration: none;
}

.float {
    float: left;
    height: 100%;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
}
.nav-menu a:hover,
.nav-menu a:active,
.nav-menu a:focus,
.footer-col li a:hover,
.footer-col li a:active,
.footer-col li a:focus{
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
    box-shadow: 3px 1px 10px 2px rgba(0, 0, 0, 0.5);
}

/* jumbo */
.jumbo-text {
    width: 46%;
    margin: 0 auto;
    text-align: center;
    padding: 7em 0 8em;
    color: white;
}

.jumbo-title {
    font-size: 2.2em;
    margin-bottom: 1.1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
    margin-left: 3%;
    /* margin top inutile che serve solo per ridimensionamento */
    margin-top: 10px;
}

a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}
/* row settings */
main .row {
    margin: 0 0;
}

main .row-content {
    width: 70%;
    margin: auto;
}

main .row:nth-of-type(2n+0) {
    background-color: #f6f6f6;
}

main .row:first-child {
    margin-top: 5em;
}
/* MALATTIA MENTALE */
main .row:nth-of-type(3)::before {
    content: '';
    background-color: #090909;
    background-image: url(../img/wave.svg);
    height: 300px;
    background-size: cover;
    display: block;
    filter: invert(100%);
}
main .row:nth-of-type(2)::before,
main .row:nth-of-type(4)::before {
    content: '';
    background-color: #090909;
    background-image: url(../img/wave.svg);
    height: 300px;
    background-size: cover;
    display: block;
    filter: invert(100%);
    transform: rotate(180deg);
}

main .row:last-child {
    margin-bottom: 0;
}

.row-content div:nth-of-type(1) {
    float: left;
}

.row-content > div:nth-of-type(2) {
    float: right;
}

/* image on row */
.row-content .info-image{
    width: 55%;
}

.row-content .info-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* text on row */
.row-content .info-text{
    width: 45%;
    padding: 2em 4em 0;
}

.info-text h2{
    font-size: 2.2em;
}

.info-text p{
    margin-top: 2em;
    font-size: 0.8em;
    line-height: 1.6em;
}

.end-jumbo {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 1em 0 3em;
}

.end-jumbo .end-header {
    width: 82%;
    margin: auto;
    margin-top: 2em;
}


.end-header h2 {
    font-size: 2em;
    margin-bottom: 0.9em;
}

.end-header p {
    line-height: 1.5em;
    font-size: 0.9em;
}

.end-header img {
    width: 100%;
    object-fit: contain;
}

.end-jumbo > p {
    font-weight: bold;
    width: 50%;
    height: 2.6em;
    line-height: 2.6em;
    margin: auto;
    background-image: url(../img/stars.svg);
    background-size: 100%;
}

.end-jumbo .btn {
    margin: 20px;
}

.btn.v2-btn {
    background-color: #8EA1E1;
    color: white;
}

footer {
    padding: 3.5em 15%;
    background-color: #23272a;
    color: white;
    font-size: 0.7em;
}

.footer>.footer-col {
    width: calc(200% / 3);
    float: left;
}

.footer>.footer-col:first-child{
    width: calc(100% / 3);
}

.footer-col h3 {
    font-size: 1.8em;
}

.footer-col .title,
.footer-col .title a {
    color: #667ac0;
}

.footer-col .footer-col {
    width: 25%;
    float: left;
}

.footer-col {
    line-height: 1.8em;
}

.footer-col a{
    color: white;
}

.lang{
    line-height: 4em;
}

.lang img{
    height: 15px;
}

.social a{
    font-size: 1.5em;
    margin-right: 1.2em;
}

.alleluja {
    margin-top: 20px;
    border-top: 2px solid #667ac0;
    padding: 20px 5px;
}

.alleluja .float:nth-child(2) {
    float: right;
}
